footer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    flex-wrap: wrap;
}

footer ul li {
    width: 20%;
}

footer ul li a {
    color: white !important;
}

footer > a {
    font-size: 1rem;
}

footer > a > button {
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    background-color: none;
}
